<form method="POST" action={{ url_for('create_table') }}>


<a href={{ url_for('add_row') }}><button type="submit" form="add">Додати колонку</button></a>

<a href={{ url_for('del_row') }}><button type="submit" form="delete">Забрати колонку</button></a>
    <p>
        {{form.table_name.label}}
        {{form.table_name}}
        {{form.table_rows.label}}
        {{form.table_rows}}
    </p>

    
    {% for i in lst %}
    <p>
        {% for x in i %}
            
            {{ form[x].label }}{{ form[x] }}

        {% endfor %}
    </p>
    {% endfor %}





    <button type="submit" type="button">Send</button>
</form>
